@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i');

$primary: #977e18;
$secondary: #000000;
$white: #fff;

*,
*::before,
*::after{
	box-sizing: border-box;
	outline: none;
	scroll-behavior: smooth;
}
*:focus{
	outline: none;
}

body{
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	font-size: 71.43%;
	    background-color: #181C1E;

	/*background: -webkit-linear-gradient(left, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);
background: -moz-linear-gradient(left, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);
background: linear-gradient(to right, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);*/
}

p{
	font-size: 1.15rem;
}

section{
	position: relative;
	width: 100%;
}
.wrapper{
	overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.lines--container{
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .line-col{
		width: 25%;
    	height: 100%;
    	border-right: 1px solid hsla(0,0%,92%,.08);
    	&.first{
    		border-left: 1px solid hsla(0,0%,92%,.08);
    		border-right-width: 1px;
    	}
    }
}
.navbar{
	background: transparent !important; 
	transition: 0.5s;
	.navbar-brand{
		&:hover,
		&:focus,
		&:visited{
			color: rgba(255,255,255,1);	
	 		font-size: 2.5rem;
	 		font-weight: 700;
		}
	}
}
.scrolled{
	background: $secondary !important;
	transition: 0.5s;
}
.navbar-light .navbar-nav .active{
    color: $secondary;
    background: $primary;
}
.navbar-light .navbar-nav .nav-link {
 	color: $white;
 	font-size: 1rem;
 	text-transform: uppercase;
 	&:hover,
 	&:focus{
 		color: $secondary;
    	background: $primary;
 	}
}
	
.header{
	z-index: 1;
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
/*	background-blend-mode: screen;
    background-color: #756213;
	background-image: url(../images/image-2.png);*/
	/*background: linear-gradient(90deg,rgba(117,98,19,.5),rgba(0,0,0,.5)),url(../images/image-2.png) no-repeat 50%;*/
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;    
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 90vh);
	clip-path:polygon(0 0, 100% 0, 100% 100%, 0 90vh);
	&__mask{
		 height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);
background: -moz-linear-gradient(left, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);
background: linear-gradient(to right, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);
	}
    .contentBox{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		z-index: 10;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		h1{		
			color: $white;
			font-size: 4rem;
			text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
             0px 8px 13px rgba(0,0,0,0.6),
             0px 18px 23px rgba(0,0,0,0.6);
             font-weight: 400;
		}
		.header-rotate{
			font-family: 'Merriweather',Georgia,serif;
			text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6), 0px 8px 13px rgba(0, 0, 0, 0.6), 0px 18px 23px rgba(0, 0, 0, 0.6) !important;
			font-style: italic;
		}
		span{
			font-size: 2rem;
			font-weight: 700;
		}
		p{
			color: #fff;
			font-size: 1.3rem;
		}
	}

}

.about{
	margin-top: -10vh;
	padding-top: 10rem;
	padding-bottom: 6rem;
/*	background-color: $primary;*/
/*    background-image: linear-gradient(315deg, $primary 0%, $secondary 74%);*/
/*background: -webkit-linear-gradient(left, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);
background: -moz-linear-gradient(left, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);
background: linear-gradient(to right, rgba(3, 3, 3, 1.0) 0%, rgba(3, 3, 3, .9) 60%, rgba(59, 58, 58, 0.5) 100%);*/
	color: #fff;
	&__details{
	width: 80%;
	margin: 0 auto;
	position: relative;
	 display: -webkit-flex;
	display: flex;
	flex-direction: row;
	&-contentBox{
		-webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
		flex:1;
		margin-right: 6rem;
	}
	&-image{
		-webkit-flex: 1; /* Safari */
    	-ms-flex: 1; /* IE 10 */
		flex:1;
		img{
			width: 100%;
			height: 100%;
			box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
			transition: all .2s;
			outline-offset: 2rem;
			&:hover{
				outline: 1rem solid $primary;
    			transform: scale(1.05) translateY(-0.5rem);
    			box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    			z-index: 20;
			}
		}
	}
	}

}



/*.line{
	height: 25px;
	min-width: 800px;
	margin: 0 auto 10px;
	color: red;
	line-height: 25px;
	font-size: 14px;
	padding: 0 0 0 10px;
	position: relative;
	&::before{
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		height: 25px;
		top: 0;
		z-index: -2;
		background: #d2d6d7;
	}
	&::after{
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		height: 25px;
		top: 0;
		z-index: -1;
		background: #333;
		transition: 0.8s;
		display: block;
		animation: animate 1 4s;
	}
	&.line1:after{
		max-width: 90%;
	}
	&.line2:after{
		max-width: 80%;
	}
	&.line3:after{
		max-width: 75%;
	}
	&.line4:after{
		max-width: 70%;
	}
}*/

.portfolio{
	/*background: $primary;  
    background: -webkit-linear-gradient(315deg, $primary 0%, $secondary 74%);  
    background: linear-gradient(315deg, $primary 0%, $secondary 74%);*/
/*	-webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 90vh);
	clip-path:polygon(0 0, 100% 0, 100% 100%, 0 90vh);*/
	
	-webkit-clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%);
	color: #fff;
	
  	&__details{
  	padding-top: 6rem;
  	padding-bottom: 6rem; 
  	display: grid;
	width: 80%;
	margin: 0 auto;
}
}

.recentWork__container {
  	position: relative;
  	margin-top:10rem;
  
/* 	justify-self: end;
  	width: 50%;
 	margin-right: 3rem;*/
 .projectContainer{
 		display: flex;
 		justify-content: space-between;
 		&:not(:last-child){
 		margin-bottom: 10rem;
		}
		&--text,
		&--img{
			width: 40%;
		}
 	img{
		height: 18rem;
 	}
 }
  	.projectCard{
		height: 30rem;
		position: relative;
		background-color: #fff;
		overflow: hidden;
		margin-bottom: 5rem;
		&:hover{
			-webkit-box-shadow: 3px 1px 23px 6px rgba(255,255,255,0.32); 
			box-shadow: 3px 1px 23px 6px rgba(244,244,244,0.32);
		}
		.projectImage{
			position: absolute;
			max-height: 100%;
			transform: translate(0,0);
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			transition: all 0.3s ease-in;
			img{
				height: 100%;
				width: 100%;
			    object-fit: cover;
			}
		}
		.projectImage__info{
			position: absolute;
			bottom: 4rem;
			font-size: 1.5rem;
			color: #fff;
			z-index: 2;
			 button{
				border-radius: 500px;
				height: 4rem;
				width: 4rem;
				background-color: rgba(0,0,0,0.5);
				color: #fff;
				border:none;
				outline: 0;
				cursor: pointer;
				i.fa{
					transition: all 0.3s ease-in;
					&:hover{
						margin-left: 0.7rem;
					}
				}
			}
		}
		.project-info{
			position: relative;
			z-index: 20;
			display: flex;
			flex-direction: column;
			padding: 1rem 1.2rem;
			transform: translateY(350%);
			transition: all 0.3s ease-in;
			.project-name{
				font-size: 1.5rem;
				font-weight: bold;
				color: $primary;
			}
			.project-description{
				font-size: 1rem;
				justify-content: center;
				display: flex;
				text-align: justify;
				color: $secondary;
			}
			.backbtn{
				background-color: #212122;
				color: #fff;
				border: none;
				outline:0;
				padding: 0.5rem 2rem;
				font-size: 1.2rem;
				align-self: center;
				&:hover{
					cursor: pointer;
					background-color: #919192;
				}
			}
		}
	}
}


/*when active class is present*/
.projectCard.activebtn{
	-webkit-box-shadow: 3px 1px 23px 6px rgba(255,255,255,0.40); 
	box-shadow: 3px 1px 23px 6px rgba(244,244,244,0.40);
	.projectImage{
		transform: translate(0%,-20%) scale(0.5);
	}
	.project-info{
		margin-top: 16rem;
		transform: translateY(0);
		margin-left: auto;
    	margin-right: auto;
    	width: 80%;
	}
	.projectImage button{
		visibility: hidden;
	}
} 

@keyframes animate{
		0%{
			width: 0%;
		}
		100%{
			width: 100%;
		}
	}
.thankyou-container{
	display: flex;
  align-items: center;
  justify-content: center;
.thankyou{
	font-size: 2rem;
}
}

//skills
.skills{
	position: relative;
	margin: 6rem auto;
	width: 80%;
	height: 80vh;
	ul{
		list-style: none;
		height: 100%;
  		position: relative;
		  .line {
		  height: inherit;
		  width: 2px;
		  position: absolute;
		  background: rgba(#eee, 0.6);
		  &.l--25 {
		    left: 25%;
		  }
		  &.l--50 {
		    left: 50%;
		  }
		  &.l--75 {
		    left: 75%;
		  }
		  &.l--100 {
		    left: calc(100% - 1px);
		  }
		}
	}
}


@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}








.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top:25%;
  left: 0;
  z-index: 10;
}


.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  $border-rad: 4px;
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to right, $primary, $secondary);
  border-top-right-radius: $border-rad;
  border-bottom-right-radius: $border-rad;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;

  .chart & {
    @include stagger-anim-delay(11, 0.5s, 0.2s);
  }

}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}
.heading__title{
	text-transform: uppercase;
	font-size: 3.555rem;
	font-weight: bold;
    color: $primary;
}
.heading__subtitle{
	text-transform: uppercase;
	font-size: 1rem;
    color:  #C60021;
    overflow: hidden;
	 &:before{
    overflow: hidden;
	background-color:  #C60021;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    right: 0.5em;
    }
}

.typed-cursor{
	display: none;
}


//contact
.contact{
	z-index: 1;
	position: relative;
	top: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(90deg,rgba(117,98,19,.5),rgba(0,0,0,.5)),url(../images/contact.jpg) no-repeat 50%;
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;  
     .contentBox{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		z-index: 10;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		flex-direction: column;
		h3{		
			color: $white;
			text-transform: uppercase;
			font-size: 2rem;
			text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
		}
		span{
			font-size: 2rem;
			font-weight: 700;
		}
		p{
			color: #fff;
			font-size: 1.3rem;
		}
	}  
	.social--container{
		margin-top: 2rem;
	&__icons{
		list-style: none;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-flow: row wrap;
	    justify-content: space-around;
	    li{
	    	padding-left: 1rem;
	    	padding-right: 1rem;
	    	.fab{
	    		color: #D9B522;
    			font-size: 3rem;
    			&:hover{
    				color: $secondary;
    				transform: scale(1.5);
    			}
	    	}
	    }
	}
}
}
//Keyframes
@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.navlink{
padding: 25px 30px;
    -webkit-transition: letter-spacing .5s ease-in-out;
    transition: letter-spacing .5s ease-in-out;
    color: #ebebeb;
    font-size: 1em;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
        line-height: 30px;
    font-weight: 600;
    &:hover{
    letter-spacing: 8px;
    color: white;
    text-decoration: none;
    }

}
.navlink-container {
    display: flex;
    transform-style: preserve-3d;
   /* -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1em;*/
}
.background-text{
    position: absolute;
    z-index: -1;
    font-family: kepler-std-display;
    color: hsla(0,0%,92%,.1);
    font-size: 5em;
    font-weight: 500;
    line-height: 60px;
    font-style: italic;}
